@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #121212; /* Fundo padrão Spotify */
    color: #FFFFFF;
}

/* Melhorando o contraste de textos secundários */
.text-secondary {
    color: #b3b3b3; /* Cinza claro que não agride o olho no dark mode */
}
#list { padding-bottom:90px; }


.track { display:flex; align-items:center; padding:12px; border-bottom:1px solid #222; }
.track img { width:50px; height:50px; border-radius:6px; margin-right:12px; }
.track span { color:#b3b3b3; font-size:14px; }
.track:hover { background:#1db954; color:black; }


.player { position:fixed; bottom:0; width:100%; background:#181818; display:flex; flex-direction:column; padding:8px; }
.player .topline { display:flex; align-items:center; }
.player img { width:55px; height:55px; border-radius:6px; margin-right:10px; }
.player .info { flex:1; }
.controls { display:flex; justify-content:center; margin-top:5px; }
.progress { display:flex; align-items:center; gap:6px; font-size:12px; }
.progress input { flex:1; }
.player img { width:55px; height:55px; border-radius:6px; margin-right:10px; }
.player .info { flex:1; }
.player .controls button { background:none; border:none; color:white; font-size:20px; margin:0 5px; }
.player .controls button:hover { color:#1db954; }
